//SELECT TRADE TEXT
.selectTrade {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 18px;
}
//SELECT TRADE BUTTON GROUP
.selectGroupButton {
    margin-left: 40px;
}
.selectGroupItem {
    width: 128px;
}